__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.hypothesis/
*.tar
*.tar.gz
.env
.env.local
.env.*.local
*.pem
*.key
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
dev
scripts
terraform/streamlix-app-ec2
terraform/streamlix-app-ec2.pub